body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* placeholder fonts */
    background-color: whitesmoke;
}

.index-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.header {
    text-align: center;
    margin-top: 30px;
    padding-top: 32px;
    background-color: lightcoral;
    position: relative;
    font-family: 'Helvetica Neue';
    font-size: 80px;
    font-style: italic;
    font-weight: 200;
    height: 50px;
    z-index: 0; 
    margin-bottom: 80px;
}

.header-text {
    position: relative;
    top: -8px; /* Adjust this value to move the text up */
    z-index: 2; /* Ensure text is above the background */
    display: inline-block; /* To ensure text moves independently */
}

.navbar {
    position: fixed; /* Changed from absolute to fixed */
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    background: none; /* Remove background color */
    z-index: 3; /* Ensure navbar is above the header */
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.nav-links a {
    color: black;
    font-style: italic;
    font-size: 15px;
    text-decoration: none;
}

.nav-links a:hover {
    background-color: black;
    color: white;
    padding: 5px; /* Add some padding to make the hover effect noticeable */
}

.index-main-content {
    display: flex;
    align-items: center;
    height: calc(100vh - 200px); /* adjust height based on navbar height */
}

.index-greeting-container {
    display: inline-flex;
    align-items: center;
    gap: 0px;
}

.index-greeting {
    font-family: Arial, sans-serif;
    font-size: 70px;
    font-weight: 700;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-align: right;
    padding: 60px;
}

.index-intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.index-intro {
    font-family: 'Helvetica Neue';
    font-size: 30px;
    margin: 5px 0;
    text-transform: lowercase;
    font-weight: 200;
    text-align: left;
}

/* General styling for logo grids */
.logo-grid, .frameworks-logo-grid, .tools-logo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ensure 3 elements per row */
    gap: 10px; /* Adjust gap between logos as needed */
    justify-items: center;
    align-items: center;
}

.logo-grid img, .tools-logo-grid img {
    width: 30px;
}

.frameworks-logo-grid img {
    width: 35px;
}

/* Remove list styling and add breaks between each item */
.skills-table ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

.skills-table li {
    margin-bottom: 10px; /* Add space between items */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
}

th, td {
    border: 1px solid #000000;
    padding: 3px 10px; /* maintain padding to make the table more compact */
    text-align: left;
    white-space: nowrap;
}

th {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
    background-color: #f0f0f0;
}

td {
    font-family: 'Helvetica Neue';
    padding-top: 5px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13px;
}

td img {
    margin-right: 10px;
    vertical-align: middle; 
}

td a {
    display: inline-block;
    margin-right: 1px; 
}

.info-table td img {
    size: 20px 20px;
}

a {
    text-decoration: none; /* remove underline from links */
}

.social-icon {
    width: 25px; 
    height: 25px; 
    margin-right: 15px; /* add space between icons */
    display: inline-block; 
}

.social-icon:last-child {
    margin-right: 0; /* remove right margin for the last icon */
}

.button-links {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.custom-button {
    display: inline-block;
    padding: 1px 10px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: black; /* color tbd */
    background-color: rgb(224, 221, 221); /* color tbd */
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: rgb(151, 150, 150); /* color tbd */
}
