body {
    margin: 0;
    padding: 0;
    font-family: 'Dela Gothic One', sans-serif; /* placeholder fonts */
}

.navbar {
    background-color: lightgrey; /* color tbd */
    padding: 40px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo a {
    color: black;
    font-size: 30px;
    text-decoration: none;
}

.navbar .nav-links {
    display: flex;
    gap: 40px;
}

.navbar .nav-links a {
    color: black;
    font-size: 15px;
    text-decoration: none;
}

/* Styles for index.html */
.index-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px); /* adjust height based on navbar height */
}

.index-greeting-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.index-greeting {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 90px;
    margin: 50px;
}

.index-intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.index-intro {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 30px;
    margin: 5px 0;
}

/* Styles for about.html */
.about-main-content {
    padding: 40px 100px 100px; 
}

.about-title {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 30px;
    margin: 30px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 46px;
}

.info-table {
    margin-bottom: 60px; 
}

th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: left;
}

th {
    font-family: 'Dhurjati', sans-serif;
    font-size: 18px;
    background-color: #f0f0f0;
}

td {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 16px;
}

.info-table td img {
    size: 20px 20px;
}

.skills-table td {
    font-size: 14px;
}

a {
    text-decoration: none; /* Remove underline from links */
}

.social-icon {
    width: 25px;
    height: 25px; 
    margin-right: 50px;
    display: inline-block; 
}

.social-icon:last-child {
    margin-right: 0; /* Remove right margin for the last icon */
}